body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('../images/fundo01.png');
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 900;
}

.field-cell {
  background: #e6ded5;
  width: 75px;
  height: 75px;
  border-radius: 5px;
  color: #5f554c;
  box-sizing: border-box;
  text-align: center;
  vertical-align: center;
  user-select: none;

  &--2 {
    background: #f3ede7;
  }

  &--4 {
    background: #efe4d6;
  }

  &--8 {
    background: #e9b872;
    color: #fffaf5;
  }

  &--16 {
    background: #e49a5c;
    color: #fffaf5;
  }

  &--32 {
    background: #de7f5a;
    color: #fffaf5;
  }

  &--64 {
    background: #d9673f;
    color: #fffaf5;
  }

  &--128 {
    background: #e6c76a;
    color: #fffaf5;
  }

  &--256 {
    background: #e2bf55;
    color: #fffaf5;
  }

  &--512 {
    background: #ddb845;
    color: #fffaf5;
  }

  &--1024 {
    background: #d6af38;
    color: #fffaf5;
  }

  &--2048 {
    background: #cfa32d;
    color: #fffaf5;
  }
}

.game-field {
  background: #b9a998;
  border-spacing: 10px;
  border-radius: 5px;
}

.game-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 24px;
  padding: 10px;
  box-sizing: border-box;
}

h1 {
  background: #cfa32d;
  color: #fffaf5;
  width: 75px;
  height: 75px;
  font-size: 24px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #e6ded5;
  width: 75px;
  height: 75px;
  border-radius: 5px;
  color: #5f554c;
  box-sizing: border-box;
  font-size: 16px;
  margin: 0 8px 0 0;
}

.controls {
  display: flex;
}

.button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fffaf5;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 16px;
  width: 75px;
  height: 75px;

  transition: 0.25s ease background;
}

.start {
  background: #5fa75f;
  font-size: 20px;

  &:hover {
    background: #4f9550;
  }
}

.restart {
  background: #e0b4b4;

  &:hover {
    background: #d98c8c;
  }
}

.message {
  box-sizing: border-box;
  width: 100%;
  background: #e6ded5;
  color: #5f554c;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
}

.hidden {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}

.message-win {
  background: #cfa32d;
  color: #fffaf5;
}

.message-container {
  width: 100%;
  height: 150px;
}

.message-playing {
  text-align: center;
}
